<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">Bem vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">Sistema Para Gerenciamento De Despesas Pessoais</mat-card-subtitle>
</mat-card>

<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">Faça seu login:</mat-card-title>
    <div class="row">
        <div class="col s12 l4 offset-14">
            <div class="card">
                <div class="card-action red white-text">
                    <!-- <h3>Formulário:</h3> -->
                </div>
                <div class="card-content">
                    <div class="form-field">
                        <label for="email">E-mail: </label>
                        <input class="form-control" type="email" name="email" id="email">
                    </div>
                    <div class="form-field">
                        <label for="senha">Senha: </label>
                        <input class="form-control" type="password" name="senha" id="senha">
                    </div>
                    <div class="form-field">
                        <label for="lembrar">Deseja ser lembrado?</label>
                        <input class="form-control" type="checkbox" name="lembrar" id="lembrar">
                    </div>
                    <div class="form-field">
                        <button class="btn-large">Entrar</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</mat-card>