.home {
  width: 95%;
  margin: 1rem auto;
}

.form-field {
  margin: 2rem;
}

@media (max-width: 450px) {
  .home {
    width: 70%;
  }
}

@media (max-width: 770px) {
  .home {
    width: 90%;
  }
}
